@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./images/background.jpg);
}

.pink_box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#cow {
    transition: 0.3s;
    width: 550px;
    cursor: url("images/hay.png"), pointer !important;
    border-radius: 180px;
}

#cow:hover {
    transform: scale(1.05);
}

#title {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    background-image: linear-gradient(180deg, lightblue, black);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#counter {
    color: #fc92be;
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    line-height: 50px;
    background-color: white;
    padding: 10px 30px;
    padding-bottom: 28px;
}

#shop, #purchased {
    width: 350px;
    background-color: white;
    margin: 40px 80px;
}

.blue_border {
    border-style: ridge;
    border-width: 10px;
    border-radius: 15px;
    border-color: lightblue;
}
